@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  margin: 0;
  font-size: 28px;
  font-family: 'Manrope',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

